config FB_ALTEVC
	bool "ALTEVC frame buffer support"
	depends on FB
	depends on ARCH_SOCFPGA
	depends on BACKLIGHT_CLASS_DEVICE	
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	help
          Frame buffer driver for US02 based boards, with ALTEVC videocontroller core.


