/*
 * Copyright Altera Corporation (C) 2015. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms and conditions of the GNU General Public License,
 * version 2, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
/* First 4KB has trampoline code for secondary cores. */
/memreserve/ 0x00000000 0x0001000;
#include "socfpga.dtsi"

/ {
	soc {
		clkmgr@ffd04000 {
			clocks {
				osc1 {
					clock-frequency = <25000000>;
				};
				
				eth_tse_dma_0_clk_0: eth_tse_dma_0_clk_0 {
					compatible = "fixed-clock";
					#clock-cells = <0>;
					clock-frequency = <50000000>;	/* 50.00 MHz */
					clock-output-names = "eth_tse_dma_0_clk_0-clk";
				}; //end eth_tse_dma_0_clk_0 (eth_tse_dma_0_clk_0)
			};
		};

		emmc: dwmmc0@ff704000 {
			num-slots = <1>;
			broken-cd;
			bus-width = <8>;
			cap-mmc-highspeed;
			cap-sd-highspeed;
		};

		sysmgr@ffd08000 {
			cpu1-start-addr = <0xffd080c4>;
		};
	};
};

&watchdog0 {
	status = "okay";
};


/ {
	model = "uS05 PA20";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	aliases {
		ethernet0 = &eth_tse_dma_0_eth_tse_0;
		ethernet1 = &gmac0;
		ethernet2 = &gmac1;
		mmc0 = &ulti_sdc_0;
		mmc1 = &emmc;
		serial0 = &uart0;
		serial1 = &pluart1;
		serial2 = &pluart2;
		serial3 = &uart1;
		spi0 = &spi0;
	};

	regulator_3_3v: 3-3-v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	ulti_sdc_0: ulti_sdc@0xFF230000 {
		compatible = "EXOR,ulti_sdc-13.1", "EXOR,ulti_sdc-1.0", "exor,ulti_sdc-1.0", "sdhci-ultimmc";
		reg = < 0xFF230000 0x0000ffff >;
		interrupt-parent = <&intc>;
		interrupts = < 0 43 4 >;
	}; //end ulti_sdc@0x100030000 (ulti_sdc_0)

	agpio0: gpio@0xff210010 {
		compatible = "altr,pio-1.0";
		reg = <0xff210010 0x10>;
		interrupts = <0 44 4>;
		width=<32>;
		altr,interrupt_type = < 4 >;
		#gpio-cells = <2>;
		gpio-controller;
		#interrupt-cells = <1>;
		interrupt-controller;
	};	

	leds { 
		compatible = "gpio-leds";
		status = "okay";

		led@1 {
			label = "us05:dl:usr0";
			gpios = <&agpio0 18 0>;
			default-state = "on";
		};

		led@2 {
			label = "us05:fault:usr0";
			gpios = <&porta 16 0>;
			default-state = "off";
		};
	};

	working_hours {
		compatible = "working_hours";
		nvmem-names = "eeprom", "rtcnvram";
		nvmem = <&seeprom0>, <&m41t83>;
		status = "okay";
	};

	pluart1: pluart@0xff200800 {
		compatible = "altr,16550-FIFO128";
		reg = <0xff220000 0x200>;
		clock-frequency = <50000000>;
		interrupt-parent = <&intc>;
		interrupts = <0 40 4>;
		reg-shift = <2>;
		reg-io-width = <4>;
		status = "okay";
	};

	pluart2: pluart@0xff200a00 {
		compatible = "altr,16550-FIFO128";
		reg = <0xff220200 0x200>;
		clock-frequency = <50000000>;
		interrupt-parent = <&intc>;
		interrupts = <0 41 4>;
		reg-shift = <2>;
		reg-io-width = <4>;
		status = "okay";
	};
	
	eth_tse_dma_0_eth_tse_0: ethernet@0xff200000 {
		compatible = "altr,tse-msgdma-17.1", "altr,tse-msgdma-1.0", "altr,tse-1.0";
		reg = <0xff200000 0x00000400>,
		      <0xff200460 0x00000020>,
		      <0xff200440 0x00000020>,
		      <0xff200490 0x00000008>,
		      <0xff200420 0x00000020>,
		      <0xff200400 0x00000020>;
		      reg-names = "control_port", "rx_csr", "rx_desc", "rx_resp", "tx_csr", "tx_desc";
		      interrupt-parent = <&intc>;
		      interrupts = <0 42 4 0 45 4>;
		      interrupt-names = "rx_irq", "tx_irq";
		      clocks = <&main_pll 0 &eth_tse_dma_0_clk_0 &eth_tse_dma_0_clk_0 &eth_tse_dma_0_clk_0>;
		      clock-names = "control_port_clock_connection", "pcs_mac_tx_clock_connection", "receive_clock_connection", "transmit_clock_connection";
		      ALTR,rx-fifo-depth = <2048>;	/* embeddedsw.dts.params.ALTR,rx-fifo-depth type NUMBER */
		      ALTR,tx-fifo-depth = <2048>;	/* embeddedsw.dts.params.ALTR,tx-fifo-depth type NUMBER */
		      rx-fifo-depth = <8192>;	/* embeddedsw.dts.params.rx-fifo-depth type NUMBER */
		      tx-fifo-depth = <8192>;	/* embeddedsw.dts.params.tx-fifo-depth type NUMBER */
		      address-bits = <48>;
		      max-frame-size = <1518>;
		      mac-address = [00 00 00 00 00 00];
		      altr,has-supplementary-unicast;
		      altr,enable-sup-addr = <1>;
		      altr,has-hash-multicast-filter;
		      altr,enable-hash = <1>;
		      phy-connection-type = "rgmii-rxid";
		      phy-handle = <&phy1>;

		      eth_tse_dma_0_eth_tse_0_mdio: mdio {
				compatible = "altr,tse-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
				phy1: ethernet-phy@1 {
					compatible = "ethernet-phy-ieee802.3-c22";
					ti,rx-internal-delay = <4>;	// 1 ns
					device_type = "ethernet-phy";
					ledcr1 = /bits/ 16 <0xbbb>;
					enet-phy-gigabit-disabled; //1Gbit speed mode temporary disabled 
					reg = <1>;
				};
				phy2: ethernet-phy@2 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					ledcr1 = /bits/ 16 <0xbbb>;
					enet-phy-gigabit-disabled; //1Gbit speed mode temporary disabled
					reg = <2>;
				};
				phy3: ethernet-phy@3 {
					compatible = "ethernet-phy-ieee802.3-c22";
					device_type = "ethernet-phy";
					ledcr1 = /bits/ 16 <0xbbb>;
					enet-phy-gigabit-disabled; //1Gbit speed mode temporary disabled
					reg = <3>;
				};
			};
		}; //end ethernet@0xff200000 (eth_tse_dma_0_eth_tse_0)	
};

/* This MAC is disabled in dtb by u-boot if necessary */
&gmac0 {
	phy-mode = "gmii";
	gmii-to-rgmii-adapter-address = <0xff240000>;
	phy-handle = <&phy2>;
	status = "okay";
};

/* This MAC is disabled in dtb by u-boot if necessary */
&gmac1 {
	phy-mode = "gmii";
	gmii-to-rgmii-adapter-address = <0xff240010>;
	phy-handle = <&phy3>;
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	speed-mode = <0>;

	seeprom0:seeprom0@54 {
		compatible = "atmel,24c02";
		reg = <0x54>;
	};

	seeprom1:seeprom1@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	m41t83:m41t83@68 {
		compatible = "st,m41t83";
		reg = <0x68>;
	};
};

&spi0 {
	status = "okay";
	num-cs = <1>;
	bus-num = <0>;
	cs-gpios = <&agpio0 5 0>;

	fram: at25@2 {
		compatible = "atmel,at25", "st,m95256";
		reg = <0>;
		spi-max-frequency = <20000000>;
		pagesize = <64>;
		size = <65536>;
		address-width = <16>;
	};
};

&qspi {
	status = "okay";
	flash0: n25q256a@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q256a";
		reg = <0>;      /* chip select */
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		page-size = <256>; 
		block-size = <16>; /* 2^16, 64KB */
		cdns,read-delay = <4>;  /* delay value in read data capture register */
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partition@qspi-fpga1 {
		/* 16MB for raw FPGA image. */
		label = "fpga1";
		reg = <0x0 0x1000000>;
		};

		partition@qspi-fpga2 {
		/* 4MB for aux storage (at offset 0x0 we have the flag indicating which FPGA img to be loaded */
		label = "fpga2";
		reg = <0x1000000 0x400000>;
		};
	};
};

&uart0 {
	status = "okay";
	rts-gpio = <&agpio0 13 0>;
	mode-gpio = <&agpio0 12 0>;
	rxen-gpio = <&agpio0 14 0>;
	rs485-rts-active-high;
};

&usb1 {
	status = "okay";
};

&can0 {
  status = "okay";
};

&emmc {
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;

	num-slots = <1>;
	supports-highspeed;
	broken-cd;
	altr,dw-mshc-ciu-div = <3>;
	altr,dw-mshc-sdr-timing = <0 3>;
	status = "okay";

	slot@0 {
		reg = <0>;
		bus-width = <8>;
	};
};

